body{
    background-color: #131D41;
}
nav{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}
li{
    color: #ffffff;
    font-size: 15px;
    list-style-type: none;
    float: left;
    margin-inline: 20px;
}.a-nav{
    text-decoration: none;
    color: #ffffff;
    font-family: 'poppins';
}
.a-nav:hover{
    text-decoration: none;
    color: #ff5c00;
}
.a-learn{
    color: #ff5c00;
    margin-left: 30px;
    font-weight: bold;
}
p{
    color: #ffffff;
    font-family: 'poppins';
}
.p-logo{
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
}
.p-hero{
    font-size: 54px;
    margin-bottom: unset;
}
.p-hero-deskripsi{
    font-size: 20px;
    /* margin-top: unset; */
    opacity: 0.5;
}
.btn-nav{
    background-color: #ffffff2d;;
    color: white;
    font-size: 15px;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    /* opacity: 0.4; */
}
.btn-hero{
    background-color: #ff5c00;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    font-weight: bold;
}
.btn-hero:hover{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    font-weight: bold;
}
.btn-nav:hover{
    background-color: #ffffff;
    color: #131D41;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.icon-jam{
    display: flex;
    align-items: start;
    gap: 20px;
}
.p-jam-title{
    font-size: 20px;
    margin-top: unset;
}
.p-jam-deskripsi{
    opacity: 0.5;
}